@page
@model ProfileModel
@{
    ViewData["Title"] = "Login";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    @if (@Model.ShowRequestId)
    {
        <p>
            <strong>Request ID:</strong> <code>@Model.RequestId</code>
        </p>
    }

    @if (@Model == null)
    {
        <p>Login <a href="/login">here</a> to view your profile.</p>
    }
    else
    {
        <div>
            <p>Project ID: @Environment.GetEnvironmentVariable("CORBADO_PROJECT_ID")</p>
            <p>User ID: @Model.userID</p>
            <p>User Name: @Model.userName</p>
            <p>User Email: @Model.userEmail</p>
        </div>
    }

</div>
