@page
@model ProfileModel
@{
    ViewData["Title"] = "Login";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Login with <a href="https://corbado.com">Corbado</a> here.</p>

    @if (Model.ShowRequestId)
    {
        <p>
            <strong>Request ID:</strong> <code>@Model.RequestId</code>
        </p>
    }

<div>
    <p>Project ID: @Environment.GetEnvironmentVariable("CORBADO_PROJECT_ID")</p>
    <p>User ID: @Model.userID</p>
    <p>User Name: @Model.userName</p>
    <p>User Email: @Model.userEmail</p>
</div>

</div>
